{% extends 'Registration/base3.html' %}

{% block content %}
{%if invalid %}
    <script>alert('{{ error_code }}')</script>
{% endif %}
<br>
<div align='center'>
<form method="post">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ create_user_form.username.label_tag }}</td>
        <td>{{ create_user_form.username }}</td>
    </tr>
    <tr>
        <td>{{ create_user_form.password.label_tag }}</td>
        <td>{{ create_user_form.password }}</td>
    </tr>
    <tr>
        <td>{{ create_user_form.email.label_tag }}</td>
        <td>{{ create_user_form.email }}</td>
    </tr>
    <tr>
        <td>Birthday (eg. Jan-01-2019): </td>
        <td>{{ create_user_form.birthday }}</td>
    </tr>
    <tr>
        <td>Phone Number: </td>
        <td>{{ create_user_form.area_code}}</td>
        <td>{{ create_user_form.numbers1}}</td>
        <td>{{ create_user_form.numbers2}}</td>
    </tr>
    </table>
    <br>
    <input type="submit" value="create account">
</form>
</div>

{% endblock %}