{% extends 'Registration/base3.html' %}

{% block content %}
{% load Registration_Extras %}
<div class="text-left container-sm">
<br>Event Name: {{ timeslot.event_name }}<br>
<br>Date: {{ timeslot.date }}</br>
<br>Time Block: {{ timeslot.start_time }} - {{ timeslot.end_time }}<br>
<br>Description: {{ timeslot.description }}</br>
<br>Activity Level: {{ timeslot.activity_level }}</br>
<br>Slots available: {{ timeslot.num_signed_up }}/{{ timeslot.num_needed }}</br>
<br>
{% if not user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        To register pleasr enter your email, birthday, and phone number below 
        <br>
        <br>Email: 
        <br>{{ email_form.email }}
        <br>
        <br>Birthday(eg. Jan-01-19): 
        <br>{{ email_form.birthday }}
        <br>
        <br>Phone Number: 
        <br>{{ email_form.area_code }}
        {{ email_form.numbers1 }}
        {{ email_form.numbers2 }}
        <input type="hidden" name="new_user" value='create_from_email'>
        <input type="submit" value="Submit">
    </form>
{% endif %}
{% if unregister_flag %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="unregister" value="{{ user.username }}">
    <input type="submit" value="Unregister">
</form>
{% endif %}
{%if register_flag%}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="register" value="1">
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="submit" value="Register">
    </form>
{% endif %}

{% if request.user|has_group:"Admin" %}
<form method="post">
        {% csrf_token %}
        <input type="hidden" name="register_group" value="1">
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="submit" value="Register a group">
</form>
{% endif %}
{%if invalid %}
    <script>alert('{{ error_message }} {{ error_code }}')</script>
{% endif %}

{% endblock %}