{% extends 'Registration/base3.html' %}

{% block content %}
{% load Registration_Extras %}
<div class="text-left container-sm">
<br>Event Name: {{ timeslot.event_name }}<br>
<br>Date: {{ timeslot.date }}</br>
<br>Time Block: {{ timeslot.start_time }} - {{ timeslot.end_time }}<br>
<br>Description: {{ timeslot.description }}</br>
<br>Activity Level: {{ timeslot.activity_level }}</br>
<br>Slots available: {{ timeslot.num_signed_up }}/{{ timeslot.num_needed }}</br>
<br>
{% if not user.is_authenticated %}
    To register : <a href="{% url 'create_user' %}"><button>Create User Account</button></a>
{% endif %}
{% if unregister_flag %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="unregister" value="{{ user.username }}">
    <input type="submit" value="Unregister">
</form>
{% endif %}
{%if register_flag%}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="register" value="1">
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="submit" value="Register">
    </form>
{% endif %}

{% if request.user|has_group:"Admin" %}
{% if register_group_flag %} 
<form method="post">
        {% csrf_token %}
        <input type="hidden" name="register_group" value="1">
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="submit" value="Register a group">
</form>
{% endif %}
{% endif %}
{%if invalid %}
    <script>alert('{{ error_message }} {{ error_code }}')</script>
{% endif %}

{% endblock %}